body{
    text-align: left;
    color: rgb(255, 169, 248);
    background-image: url(https://wallpapercave.com/wp/530VzoU.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
}
.heading{
  
  position: absolute;
  font-size: 30px;
  top: 20%;
}
.journal1{
  top: 25%;
  
  position: absolute;
  width: 40%;
  color: rgb(255, 164, 250);
}

.heading2{
  
  position: absolute;
  font-size: 30px;
  top: 45%;
}
.journal2{
  top: 50%;
  
  position: absolute;
  width: 40%;
  color: rgb(255, 164, 250);
}
.heading3{
  
  position: absolute;
  font-size: 30px;
  top: 70%;
}
.journal3{
  top: 75%;
  
  position: absolute;
  width: 40%;
  color: rgb(255, 164, 250);
}

.heading4{
  
  position: absolute;
  font-size: 30px;
  top: 95%;
}
.journal4{
  top:100%;
  
  position: absolute;
  width: 40%;
  color: rgb(255, 164, 250);
}
.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 40%;
    color: black;
  }

  .centered {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  